* {
  box-sizing: border-box;
}


body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:medium;
  line-height:normal;
  color:black;
  background-color: rgb(217, 239, 243);

}

/* header */

#header {
  position:left;
  width: 50;
  margin:0 0 0;
  overflow:left;
  color: rgb(34, 25, 25);
  background: rgba(26, 45, 141, 0.925);
  border-bottom: 1 px solid #ccc;
}

#logo {
  float:initial;
  width: 250px;
  height: 90px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color:rgb(70, 78, 119);
  text-decoration: none;
  background: rgb(90, 212, 206);
}


nav {
  float: right;
  margin-top: 55px;
  flex-wrap: wrap;
}

nav a {
  display: inline-block;
  flex-wrap: wrap;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 10px;
  color: rgb(111, 203, 219);
  text-decoration:underline;
  
}



body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.hero-text {

text-align: right;
position:relative;
color: white;
}

/* Main*/


.side { 
  text-decoration: underline;
  color:rgba(26, 45, 141, 0.925);
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  padding-bottom: 30px;
  padding-top: 30px;
 
}

.container{
  display: inline-flex;
  flex: 4;
  background-color: rgb(217, 239, 243);
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:flex-start;
  flex-direction: row;
  padding-top: 10px;
      
}


.box {
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(111, 203, 219) ;
  flex:0 0 0;
 
}

img :hover {   
    background-color: rgb(255, 255, 200);


  }


.footer{
  
  display: inline-block;
  text-decoration: underline;
  color:rgb(70, 78, 119);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}


.footer a {  
  display:inline-block;
  margin-right: 50px;
  margin-top: 20px;  
}

@media screen and (max-width: 768px) {
  main,
  body,
  nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}




